AddressValidation18July/src/main/resources/com/icare/commons/xsd/ErrorInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.services.icare/ErrorInformation" xmlns:tns="http://com.services.icare/ErrorInformation" elementFormDefault="qualified">

    <complexType name="ErrorInfo">
    	<sequence>
    		<element name="ErrorCode" type="string"></element>
    		<element name="ErrorDesc" type="string"></element>
    	</sequence>
    </complexType>

    <element name="ErrorInfo" type="tns:ErrorInfo"></element>
</schema>